<section class="gallery-container rounded-gallery">
  <img src="/mycconfecciones/etse.png" alt="Imagen galería 1">
  <img src="/mycconfecciones/etse.png" alt="Imagen galería 2">
  <img src="/mycconfecciones/etse.png" alt="Imagen galería 3">
  <img src="/mycconfecciones/etse.png" alt="Imagen galería 4">
  <img src="/mycconfecciones/etse.png" alt="Imagen galería 5">
</section>

<style>
  .gallery-container {
    display: flex;
    width: 800px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  .gallery-container img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
  }
  .rounded-gallery {
    border-radius: 0.5rem; /* Ajusta este valor para redondear mas o menos */
    overflow: hidden; /* par que las imagenes dentro tambien se redondeeen */
  }
  .gallery-container img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
  }
</style>